.first{
  font-size: 65px;
  font-weight: bold;
  color: khaki;
  font-family: Helvetica;
  text-align:center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
p{
  font-size: 25px;
}
h3{
  font-size: 32px;
}
h2{
  font-size: 40px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
.blue{
  font-family:Helvetica;
  font-weight: bold;
  color: blue;
}
.head_2{
  background-color: mediumspringgreen;
}
.head_3{
  background-color:lightcoral;
}
.head_4{
  background-color: skyblue;
}
